<nav class="navbar mt-3" style="background-color: #e3f2fd;">
    <div class="container">
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <button class="btn btn-warning btn-info mt-2 ml-3" (click)="inicio()">Inicio</button>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-5 ">

    <div class="row d-flex justify-content-around">

        <div class="card" style="width: 18rem;" role="button" (click)="conf_states_ur()">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTa7tUP0Ex1iSleFWO3cm_FNzk4ihAAGcqd0EHjkyGWcEpIyGeo"
                class="card-img-top" alt="..." width="100" height="260">
            <div class="card-body">
                <h5 class="card-title text-center text-warning">CONFIGURACION ESTADO USUARIOS-ROLES</h5>

            </div>
        </div>


        <div class="card" style="width: 18rem;" role="button" (click)="conf_state_vis()">
            <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSZThE0Pjrv25I_5BObaw6GWMbh7aDLK6-znhM9iy7Zyg7NaeTW"
                class="card-img-top" alt="..." width="100" height="260">
            <div class="card-body">
                <h5 class="card-title text-center text-warning">CONFIGURACION ESTADOS VISITAS</h5>

            </div>
        </div>

        <div class="card" style="width: 18rem;" role="button" (click)="conf_roles()" >
            <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcS9SJi5-S0Buy4ZCmHTia6hw5D304YeISHssObnY9ac26cx9AiL"
                class="card-img-top" alt="..." width="100" height="260">
            <div class="card-body">
                <h5 class="card-title text-center text-warning">CONFIGURACION ROLES</h5>

            </div>
        </div>

    </div>
</div>